@page "/images"
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LandingPage

@{
    Layout = "Layouts/BaseLayout";
    Model.ShowTitleInPage = false;
}
<h1>Welcome to the <b>based images</b> page!</h1>
<img src="https://media.discordapp.net/attachments/962801349228101694/967688226703818822/unknown-14.png" alt="This image goes so hard">
<img src="https://cdn.discordapp.com/attachments/962801349228101694/967698811424227378/ezgif.com-gif-maker_12.gif" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701363507216404/LBP_Representation_Tree.png?width=128&height=128" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701363716947998/boo_lbp2.png?width=128&height=128" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701363972775936/re2n.png?width=128&height=128" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701364207661096/kindpng_3754404.png?width=128&height=59" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701364530638848/dothje.png?width=128&height=79" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701364765495376/notextures.png?width=128&height=128" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701364971012136/827602746101727282.png" alt="This image goes so hard">
<img src="https://media.discordapp.net/attachments/962801349228101694/967701746212290620/538DD1E3-0E7A-4177-AA9C-46ED29C13FCA.png?width=396&height=468" alt="This image goes so hard">
